<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Till recently I was at
      <a class="underline-link" href="https://www.amazon.com/" target="_blank">Amazon</a> as <strong>Investigations Specialist 1</strong> safe guarding customers from fraud on e-commerce with some awesome people. I recently graduated from
      <a class="underline-link" href="https://race.reva.edu.in/" target="_blank">REVA University</a> after completing 2 years Masters of Science in Business Analytics.
    </p>

    <p>
      As a business analyst specializing in AI and machine learning, I thrive on connecting technical innovation 
      with business strategy &mdash; leveraging my expertise in data-driven insights to deliver impactful solutions. 
      My goal is to craft scalable, efficient AI/ML models that solve complex problems while driving measurable value 
      and seamless stakeholder experiences
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably cooking, terrace gardening,
      or listening to podcast on geo politics, international relations and new tech.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
