<section class="section experience">
  <div class="section__title">Experience</div>
  <div class="section__content">
    <div class="jobs">
      {% for job in site.data.experience %}
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <a href="{{job.url}}" target="_blank">{{job.company}}</a>
          </div>
          <div class="job__time">{{job.time}}</div>
        </div>
        <div class="job__position">{{job.position}}</div>
      </div>
      {% endfor %}
    </div>

    <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a>
  </div>
</section>

<section class="section certifications">
  <div class="section__title">Certifications</div>
  <div class="section__content">
    <div class="certifications">
      {% for cert in site.data.certifications %}
      <div class="certification">
        <div class="cert__details">
          <div class="cert__name">
            <a href="{{cert.url}}" target="_blank">{{cert.name}}</a>
          </div>
          <div class="cert__issuer">{{cert.issuer}} — {{cert.year}}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
