<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/sunkumx/Machine-Learning-Projects/tree/main/Market%20Basket%20Analysis%20for%20an%20E-commerce%20Store" target="_blank">
          <img src="{{site.baseurl}}/img/featured/mba/mba.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/sunkumx/Machine-Learning-Projects/tree/main/Market%20Basket%20Analysis%20for%20an%20E-commerce%20Store" target="_blank">Market Basket Analysis for E-Commerce</a>
        </div>
        <p>Understanding customer purchase behavior helps e-commerce businesses boost sales. 
          This project applies Market Basket Analysis (Apriori, FP-Growth) and customer segmentation (RFM, K-Means) 
          to recommend product bundles and improve cross-selling strategies.</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/sunkumx/Machine-Learning-Projects/tree/main/Telco_Customer_Churn_ML_CLF_telecom="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/cxchurn/cx_churn.png" alt="">
         </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/sunkumx/Machine-Learning-Projects/tree/main/Telco_Customer_Churn_ML_CLF_telecom" target="_blank">Customer Churn Prediction</a>
        </div>
        <p>Predicting customer churn is crucial for banks to retain high-value clients. 
          This project analyzes customer behavior, transaction patterns, and account details to develop a predictive model 
          using logistic regression, decision trees, and SHAP explainability.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/sunkumx/Machine-Learning-Projects/tree/main/Credit%20Card%20Fraud%20Detection" target="_blank">
          <img src="{{site.baseurl}}/img/featured/ccfraud/credit_card_fraud.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/sunkumx/Machine-Learning-Projects/tree/main/Credit%20Card%20Fraud%20Detection" target="_blank">Credit Card Fraud Detection</a>
        </div>
        <p>This project builds a machine learning model to detect fraudulent transactions using real-world credit card data. 
          Techniques like anomaly detection, oversampling (SMOTE), and classification models (Random Forest, XGBoost) are used to improve fraud detection accuracy.</p>
      </figcaption>
    </div>
  </div>
</section>
